body, html {
  min-height: 100vh;
  width: 100vw;
  background: #2f4e7c;
  margin: 0;
  padding: 0;
}

.contaier-content{
    margin-top: 10rem;
}

.background-page{
    min-height: 100vh;
    width: 100vw;
    background: #f5f7fa;
}