body, html {
  min-height: 100vh;
  width: 100vw;
  background: #2f4e7c;
  margin: 0;
  padding: 0;
}

.contaier-content{
    
}

.background-page{
    min-height: 100vh;
    width: 100vw;
    background: #f5f7fa;
}

.banner-primary{
    height: 40vh;
    background-color: var(--color-secondary-light);
    
}
.title{
    font-size: 1.3rem;
    padding: 0 0rem 1rem 1rem ;
}
.block-text-primary {
  padding-left: 2rem; /* valor por defecto en pantallas pequeñas */
}
.divider{
    height: 3px;
    width: 15rem;
    background-color: var(--color-secondary-dark);
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.section-banner{
    color: var(--color-primary);
    height: 30vh;
}
.section-banner p{
    font-size: clamp(3vh, 4vh, 5vh);
}

