.header-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
  background-color: #fff;
  padding: 10px ;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  max-width: 95%;
  position: sticky;
  top: 0;
  z-index: 100;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.app-logo {
  font-size: 40px;
  color: #1b1f3b;
}

.app-title {
  font-weight: 600;
  color: #1b1f3b;
  font-size: 18px;
}

.header-nav {
  display: flex;
  gap: 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 10rem;
  cursor: pointer;
  border-radius: 30px;
  padding: 6px 12px;
  color: #333;
  transition: all 0.25s ease;
  height: 100%;
}

.nav-item:hover {
  background-color: #f3f4f6;
}

.nav-item.active {
  background-color: #1b1f3b;
  color: #fff;
  width: 30rem;
}

.nav-label {
  font-size: 14px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1b1f3b;
  font-weight: 500;
}

.logout-btn, .login-btn {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  
  transition: color 0.3s ease;
}

.logout-btn:hover, .login-btn:hover {
  color: #e53935;
}

.material-icons {
  font-size: 28px;
}
