.banner-primary {
  background-color: var(--color-primary);
  height: 40rem;
}

.title {
  color: var(--color-secondary);
}

.text-help {
  color: white;
  margin-top: 1px;
  font-weight: 300;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  margin-top: -10rem;
  position: relative;
  z-index: 1;
}

