.banner-primary {
  background-color: var(--color-primary);
  height: 40rem;
}

.title {
  color: var(--color-secondary);
  font-size: 3rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.text-help {
  color: white;
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.1rem;
}

.content-section {
  margin-top: 2rem;
  padding: 2rem 1rem;
  position: relative;
  z-index: 1;
  background-color: white;
}

@media (max-width: 768px) {
  .banner-primary {
    height: 30rem;
  }

  .title {
    font-size: 2rem;
  }

  .content-section {
    margin-top: 2rem;
    padding: 1rem 0.5rem;
  }
}