.banner-primary{
  background-color: var(--color-primary);
  height: 50vh;
}
.title{
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: var(--color-secondary);
}
.sectionItem{
    background-color: var(--color-secondary);
    height: 80vh;

}
.card-general{
  background-color: white;
  width: 100%;
  min-height: 30rem;
  padding: 5rem;
}