<app-loading-page *ngIf="loadingService.loading$ | async"></app-loading-page>
<div *ngIf="!(loadingService.loading$ | async)">
  <div class="header-wrapper">
    <app-header></app-header>
  </div>

  <!-- BANNER -->
  <section class="banner-primary d-flex justify-content-center align-items-center flex-column">
    <h1 class="title text-center">Proceso o Técnica</h1>
    <p class="text-help">Detalles y campos registrados</p>
  </section>

  
  <section class="banner-container">
      <div class="container">
         <div class="row">
            <div class="col-12 col-lg-6 mb-4 p-4">
               <img [src]="procesoImageUrl" [alt]="proceso.titulo" class="book-image">
               <a 
                  *ngIf="proceso?.file_r2 && proceso.file_r2 !== ''"
                  [href]="proceso.file_r2" 
                  target="_blank" 
                  rel="noopener noreferrer"
                  class="btn btn-download mt-3">
                  <i class="fas fa-download"></i> Descargar Documento
               </a>
            </div>
            <div class="col-12 col-lg-6 mb-4">
                <div class="book-details">
                  <h2 class="title-section">{{ proceso.titulo || 'Título del Proceso' }}</h2>
                  
                  <div class="detail-item" *ngIf="proceso?.autores && proceso.autores.length">
                    <h4 class="detail-label">Autores</h4>
                    <p class="detail-value">{{ proceso.autores.join(', ') }}</p>
                  </div>

                  <div class="detail-item" *ngIf="proceso?.anio">
                    <h4 class="detail-label">Año</h4>
                    <p class="detail-value">{{ proceso.anio }}</p>
                  </div>

                  <div class="detail-item" *ngIf="proceso?.pais">
                    <h4 class="detail-label">País</h4>
                    <p class="detail-value">{{ proceso.pais }}</p>
                  </div>

                  <div class="detail-item" *ngIf="proceso?.fechaPublicacion">
                    <h4 class="detail-label">Fecha de Publicación</h4>
                    <p class="detail-value">{{ proceso.fechaPublicacion | date: 'dd/MM/yyyy' }}</p>
                  </div>

                  <div class="detail-item" *ngIf="proceso?.licencia">
                    <h4 class="detail-label">Licencia</h4>
                    <p class="detail-value">{{ proceso.licencia }}</p>
                  </div>

                  <div class="detail-item" *ngIf="proceso?.etiquetasGTI && proceso.etiquetasGTI.length">
                    <h4 class="detail-label">Etiquetas GTI</h4>
                    <p class="detail-value">{{ proceso.etiquetasGTI.join(', ') }}</p>
                  </div>
                </div>
            </div>
         </div>
      </div>
  </section>
</div>


