.registro-admin-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.banner-primary{
  background-color: var(--color-secondary-light);
  height: 56vh;
}

.registro-admin-bg {
  background-color: var(--color-secondary-light);
  min-height: 100vh;
  width: 100%;
  padding-top: 0;
  padding-bottom: 4rem;
}

.registro-form-card {
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  
  max-width: 700px;       /* Limita el ancho máximo */
  margin: 0 auto;         /* Centrada horizontalmente */
  width: 100%;            /* Para que responda en pantallas pequeñas */

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);  /* Sombra ligera */
}
