<div class="background-login"></div>
<div class="login-wrapper d-flex justify-content-center align-items-center min-vh-100">
  <div class="form-login position-relative">
    <div class="iot-bg-letter iot-bg-i">I</div>
    <div class="iot-bg-letter iot-bg-o">O</div>
    <div class="iot-bg-letter iot-bg-t">T</div>
    <div class="card p-4 d-flex flex-column" style="height: 100%;">
      <h2 class="mb-4 fw-bold text-center textTitle">Iniciar sesión</h2>
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="w-100 flex-grow-1 d-flex flex-column justify-content-center">
        <div class="mb-3">
          <label for="correo" class="form-label">Correo</label>
          <input
            id="correo"
            type="email"
            name="correo"
            class="form-control"
            placeholder="ejemplo@correo.com"
            [(ngModel)]="correo"
            required
            email
            #correoInput="ngModel"
          />
          <div *ngIf="(correoInput.invalid && (correoInput.dirty || correoInput.touched || loginForm.submitted))" class="text-danger small">
            El correo es obligatorio y debe tener un formato válido.
          </div>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Contraseña</label>
          <input
            id="password"
            type="password"
            name="password"
            class="form-control"
            placeholder="••••••"
            [(ngModel)]="password"
            required
            minlength="6"
            #passwordInput="ngModel"
          />
          <div *ngIf="(passwordInput.invalid && (passwordInput.dirty || passwordInput.touched || loginForm.submitted))" class="text-danger small">
            La contraseña es obligatoria y debe tener al menos 6 caracteres.
          </div>
        </div>
        <button type="submit" class="btn button-pri w-100" [disabled]="loginForm.invalid">
          Entrar
        </button>
      </form>
    </div>
  </div>
</div>