<app-loading-page *ngIf="loadingService.loading$ | async"></app-loading-page>
<div *ngIf="!(loadingService.loading$ | async)">
  <div class="header-wrapper">
    <app-header></app-header>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0">
        <div class="banner-primary d-flex justify-content-center align-items-center flex-column">
          <h1 class="title">Libro</h1>
          <p class="text-help">Detalles del libro publicado</p>
        </div>

        <div class="container-fluid mt-4 d-flex justify-content-center align-items-center">
          <div class="content-wrapper">
            <app-productivity-item-view 
              [item]="book" 
              itemType="libro">
            </app-productivity-item-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

