.banner-primary{
    background-color: var(--color-primary);
    height: 40rem;
}
.title{
    color: var(--color-secondary);

}
.text-help{
    color: white;
    margin-top: 1px;
    font-weight: 300;
}