
.form-wrapper {
  width: 100%;
  max-width: 500px;  /* evita que se hagan gigantes */
  margin: 0 auto;    /* centra horizontalmente */
}
.title{
  
}
.section-title{
  background-color: aliceblue;
  
  border-radius: 20px 20px  0px 0px ;
}


.section-buttons{
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
}
.card{
  border-radius: 0px 0px 20px 20px  ;
  min-height: 50rem;
}
.btn-danger{
  width: 5rem;
}