<div class="card shadow-lg rounded-4 p-3 p-md-4 border-0 mt-4 mt-md-0">
    <div class="d-flex justify-content-center align-items-center mt-4 mt-md-0 section-title ">
        <h5 class="card-title mb-3">Informacion item</h5>
    </div>
    <div class="p-4">
        <!-- Item Name 
         
        Espaio para colocar la imagen 
        
        -->
        <div class="mb-3">
            <h2 class="title-item">Serial</h2>
            <p> {{itemDetails?.serial}} </p>
        </div>
        <div class="mb-3">
            <h2 class="title-item">Descripcion</h2>
            <p> {{itemDetails?.descripcion}} </p>
        </div>
        <div class="mb-3">
            <h2 class="title-item">Estado fisico</h2>
            <p> {{itemDetails?.estado_fisico}} </p>
        </div>
        <div class="mb-3">
            <h2 class="title-item">Estado administrativo</h2>
            <p> {{itemDetails?.estado_admin}} </p>
        </div>
        <div class="mb-3">
            <h2 class="title-item">Fecha de registro</h2>
            <p> {{itemDetails?.fecha_registro}} </p>
        </div>
        <div class="mb-3">
            <h2 class="title-item">Observacion</h2>
            <p> {{itemDetails?.observacion}} </p>
        </div>
        
        
    </div>
</div>
