.banner-primary{
  background-color: var(--color-primary);
  height: 70vh;

}
.title{
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: 450;
    font-family: "Roboto", sans-serif;
    color: var(--color-secondary);
}
.subtitle {
  font-size: 4rem;
  font-weight: 350;
  color: white;
  align-self: flex-start; /* <--- alinea el título a la izquierda */
}
.subtitle-secundary{
  color: var(--color-secondary);
  font-size: 4rem;
}
.block-section{
  margin-top: 10rem;
}

.separator{
  background-color: rgb(68, 45, 15);
  height: 10px;
  width: 1rem;
}

/* Sección principal */
.sectionWhoAre {
  background-color: var(--color-primary);
  color: white;
}

/* Contenedor general */
.section-info-company {
    padding: clamp(0rem, 3vw, 6rem);
}

/* Bloque interno de cada ítem */
.content-block {
  width: 90%;
  padding: 2rem ;
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontalmente el texto */
  text-align: justify;

}

.section-info-company {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9rem;
    align-items: center;
}

.section-info-company > div:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / 3;
    align-self: center;
}

.description-items-company{
  font-family: "Roboto", sans-serif;
  font-weight: 200;
   list-style: none;   
  padding-left: 0;  
}
.block-obetives{
  border: 1px solid white;
  height: 19rem; 
  min-width: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.title-objective{
  font-size: clamp(1rem, 1.2rem,1.5rem);
  font-weight: 800;
}

.description-objetives{
  font-size: 1rem; 
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: justify; 
  line-height: 1.4;
  hyphens: auto; 
}

.section-objetives {
  width: 80%;
  margin-top: 10rem;

}
.separator{
  height: 1px;
  max-width: 1px;
  background-color: white;
}



.section-history{
  background-color: var(--color-secondary-light);
  padding: clamp(2rem, 6rem, 6rem);
}

#subtitle_history{
  color: var(--color-primary);
  font-size: 4rem;
}
#description-history{
    display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontalmente el texto */
  text-align: justify; /* mantiene justificado */
  line-height: 1.4;
  hyphens: auto; /* mejora la justificación */
}
@media (max-width: 768px) {
    .section-info-company {
        grid-template-columns: 1fr;
    }
    
    .section-info-company > div:nth-child(3) {
        grid-column: 1;
        grid-row: auto;
    }
}

/** ANIMACIONES


**/